@import "./includeMedia";

$pc: 1823;
$tablet: 600;
$phone: 320;
$min-width: 320;
$breakpoints: ("pc":$pc * 1px,"min-width":$min-width * 1px,"phone": $phone * 1px,"tablet": $tablet * 1px);


@function applyMath($max_val,$min_val,$max_width,$min_width,$related-to: 100vw,$unit: 1px){
@return calc( #{$min_val} * #{$unit} + #{$max_val - $min_val} * ((#{$related-to} - #{$min_width}px)) / #{$max_width - $min_width});
}

@function mathFromPcToTablet($start-val,$end-val,$unit: 1px) { @return applyMath($start-val,$end-val,$pc,$tablet,$unit); }
@function mathFromTabletToPhone($start-val,$end-val,$unit: 1px) { @return applyMath($start-val,$end-val,$tablet,$phone,$unit); }
@function mathFromPhoneToMinWidth($start-val,$end-val,$unit: 1px) { @return applyMath($start-val,$end-val,$phone,$min-width,$unit); }
